---
import Layout from "../layouts/Layout.astro"
import "../styles/global.css";
---

<Layout>
    <div class="flex flex-col items-center justify-center min-h-screen w-full">
        <p class="text-5xl mb-3">😭</p>
        <p class="text-lg">404 | Pagina no encontrada.</p>
    </div>
</Layout>