---
const { btnMessage, urlSend } = Astro.props;
---

<a target="_blank" class="inline-block rounded-lg border text-gray-700 border-blue-600 px-12 py-3 hover:bg-blue-700 hover:text-white focus:ring-3 focus:outline-hidden "
  href={urlSend}>
  {btnMessage}
</a>

