<article class="rounded-lg border border-gray-100 bg-white p-4 shadow-xs transition hover:shadow-lg sm:p-6">
    <span class="inline-block rounded-sm bg-blue-600 p-2 text-white">
        <!-- Aqui va el icono -->
    </span>

    <a href="#">
        <h3 class="mt-0.5 text-lg font-semibold">
            Fit Tracking
        </h3>
    </a>
    <p class="mt-2 line-clamp-3 text-gray-700">
        Este proyecto trata de recolectar datos personales deportivos y con ellos analizar el redimiento.
    </p>
    <a href="#" class="group mt-4 inline-flex items-center gap-1 text-sm font-medium text-blue-600">
        Ir al proyecto

        <span aria-hidden="true" class="block transition-all group-hover:ms-0.5 rtl:rotate-180">
            &rarr;
        </span>
    </a>
</article>