---
import Container from "../layouts/Container.astro";
import Divider from "../components/Divider.astro";
import Button from "./Button.astro";
---

<Container>
    <Divider divName="Contacto" />
    <div id="Contacto" class="py-10 lg:p-10 flex flex-col items-center gap-3">
        <p class="text-lg font-semibold">Contactame por</p>
        <Button btnMessage='💼 Linkedin' urlSend='https://www.linkedin.com/in/luissantillan96/'/>
        <p class="mt-2 line-clamp-3 text-gray-700">
        o escribeme a luis_contacto11@gmail.com.</p>
    </div>
    
</Container>


