---
import Container from "../layouts/Container.astro"
---

<Container>
    <div class="py-10 lg:p-10 flex flex-col items-center">
        <div class="border rounded-full">
            <img class="w-36 lg:w-64 rounded-full" src="/src/assets/img/profile.png" alt="Luis Angel Santillan - Picture">
        </div>
        <div class="p-5 flex flex-col gap-1 items-center">
            <p class="font-bold text-lg lg:text-4xl">👋Hola, Soy Luis Santillan.</p>
            <p class="font-semibold lg:text-xl">- Software Enginner -</p>
            <p class="text-center text-gray-700">Me encanta crear cosas para la web y explorar el mundo de los datos. Soy creativo, autodidacta y disfruto aprender mientras construyo proyectos que inspiran e impactan.</p>
        </div>
    </div>
</Container>