---
import Container from "../layouts/Container.astro"
---

<Container>
    <div class="py-10 lg:p-10 flex flex-col items-center">
        <div class="border-2 border-blue-600 rounded-full">
            <img class="w-36 lg:w-64 rounded-full" src="https://instagram.fqro3-1.fna.fbcdn.net/v/t39.30808-6/441414954_18434081851036890_7467265334124603665_n.jpg?stp=dst-jpg_e35_tt6&efg=eyJ2ZW5jb2RlX3RhZyI6IkZFRUQuaW1hZ2VfdXJsZ2VuLjIwNDh4MjA0OC5zZHIuZjMwODA4LmRlZmF1bHRfaW1hZ2UuYzIifQ&_nc_ht=instagram.fqro3-1.fna.fbcdn.net&_nc_cat=106&_nc_oc=Q6cZ2QHxGTzpjRHnXdIlrDgRnJ5dduq8Jqyfpgm2BaaZUWcV8sL0_B_nV_ery5Bf0NhC3p7cevLnQOHLlctGt4jPrxs9&_nc_ohc=QzqkSjL0haQQ7kNvwHK01wH&_nc_gid=epz3pFqoHNVlr63NN9w0sA&edm=AP4sbd4AAAAA&ccb=7-5&ig_cache_key=MzM2NTA3NDI2MDkwMDMwMTE2MQ%3D%3D.3-ccb7-5&oh=00_AfYt-_3j0_yjM3M9RQOvpdlm46iiG3dNExbR2vRznIsFQg&oe=68DBF108&_nc_sid=7a9f4b" alt="Luis Angel Santillan - Picture">
        </div>
        <div class="p-5 flex flex-col gap-1 items-center">
            <p class="font-bold text-lg lg:text-4xl">👋Hola, Soy Luis Santillan.</p>
            <p class="font-semibold lg:text-xl">- Software Enginner -</p>
            <p class="text-center text-gray-700">Me encanta crear cosas para la web y explorar el mundo de los datos. Soy creativo, autodidacta y disfruto aprender mientras construyo proyectos que inspiran e impactan.</p>
        </div>
    </div>
</Container>