---
import Divider from "./Divider.astro"
import Container from "../layouts/Container.astro"
import Card from "./Card.astro"
---

<Container>
    <Divider divName="Proyectos" />
    <div class="py-10 lg:p-10 flex flex-col items-center">
        <div class="grid lg:grid-cols-3 gap-5">
            <Card/>
            <Card/>
            <Card/>
            <Card/>
            <Card/>
            <Card/>
        </div>
    </div>
</Container>


