---
import Container from "../layouts/Container.astro";
import Divider from "../components/Divider.astro";


---


<Container>
    <Divider divName="Trayectoria" />
    <div id="Trayectoria" class="py-10 px-5 lg:p-10 flex flex-col items-center">
        <!-- AQUI COMIENZA EN ORDER LIST -->
        <ol class="relative lg:px-36 space-y-8 before:absolute before:-ml-px before:h-full before:w-0.5 before:rounded-full before:bg-gray-200">
            <li class="relative -ms-1.5 flex items-start gap-4">
                <span class="size-3 shrink-0 rounded-full bg-blue-600"></span>
                <div class="-mt-2">
                    <time class="text-xs/none font-medium text-gray-700">Abril 2022 - Presente.</time>
                    <h3 class="text-lg font-bold">Tata Consultancy Services.</h3>
                    <p class="mt-0.5 text-gray-700">Data Support.</p>
                    <p class="mt-0.5 text-gray-700">
                        Participación en proyectos para Citi Group y Barclays Banking, enfocado en soporte de datos, monitoreo de servicios y automatización de procesos. Experiencia en SQL, Python, Pandas, Excel y entornos Unix, colaborando con equipos globales para garantizar la integridad de la información y la continuidad operativa.
                    </p>
                </div>
            </li>

            <li class="relative -ms-1.5 flex items-start gap-4">
                <span class="size-3 shrink-0 rounded-full bg-blue-600"></span>
                <div class="-mt-2">
                    <time class="text-xs/none font-medium text-gray-700">Junio 2021 - Abril 2022.</time>
                    <h3 class="text-lg font-bold">PcTechnology.</h3>
                    <p class="mt-0.5 text-gray-700">Soporte Tecnico.</p>
                    <p class="mt-0.5 text-gray-700">
                        Soporte a usuarios y mantenimiento de equipos y redes. Desarrollo de habilidades en diagnóstico de incidencias, atención al cliente y gestión de soluciones técnicas y comerciales.
                    </p>
                </div>
            </li>

            <li class="relative -ms-1.5 flex items-start gap-4">
                <span class="size-3 shrink-0 rounded-full bg-blue-600"></span>
                <div class="-mt-2">
                    <time class="text-xs/none font-medium text-gray-700">Enero 2021 - Mayo 2021.</time>
                    <h3 class="text-lg font-bold">S2B Tecnologia.</h3>
                    <p class="mt-0.5 text-gray-700">Practicante de Sistemas.</p>
                    <p class="mt-0.5 text-gray-700">
                        Apoyo en soporte técnico y desarrollo de un sistema de tickets para la gestión de incidencias. Experiencia en capacitación a usuarios y optimización de procesos internos.
                    </p>
                </div>
            </li>
        </ol>
    </div>
</Container>